@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Regular.eot");
	src:
		url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype"),
		url("../fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Light.eot");
	src:
		url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Light.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Light.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Light.ttf") format("truetype"),
		url("../fonts/AvenirNextCyr-Light.svg#AvenirNextCyr-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Demi.eot");
	src:
		url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Demi.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype"),
		url("../fonts/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Medium.eot");
	src:
		url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Medium.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype"),
		url("../fonts/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Thin.eot");
	src:
		url("../fonts/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Thin.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Thin.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Thin.ttf") format("truetype"),
		url("../fonts/AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin") format("svg");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
