.rs-slider-block {
	// .rs-slider-block__container
	&__container {
		.section-header {
			&__title {
				justify-content: center;
				text-align: center;
				max-width: 1107px;
				margin: 0 auto;
			}
		}
	}

	&__action {
		justify-content: flex-end;
		margin-top: 32px;

		@media (min-width: 991.98px) {
			display: none;
		}
	}

	// .rs-slider-block__slider
	&__slider {
		overflow: visible;
	}

	// .rs-slider-block__swiper
	&__swiper {
	}

	// .rs-slider-block__slide
	&__slide {
	}

	// .rs-slider-block__item
	&__item {
	}

	// .rs-slider-block__link
	&__link {
	}

	// .rs-slider-block__img
	&__img {
		width: 100%;
		height: 100%;
		position: relative;
		padding-bottom: 62.623%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .rs-slider-block__desc
	&__desc {
		margin-top: 10px;

		p {
			margin-top: 4px;
		}
	}
}
