.rs-slider {
	margin-top: 0px;
	height: 100vh;
	min-height: 600px;
	max-height: 929px;
	overflow: hidden;

	@media (max-width: 1439.98px) {
		max-height: 800px;
	}

	@media (max-width: 767.98px) {
		max-height: 667px;
	}

	// .rs-slider__container
	&__container {
		height: 100%;
		position: relative;
		z-index: 11;
	}

	// .rs-slider__content
	&__content {
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		text-align: center;

		&._center {
			align-items: center;
		}
	}

	// .rs-slider__body
	&__body {
		width: 100%;
		max-width: 1170px;
		padding-bottom: 169px;
		overflow: hidden;

		._center & {
			padding-bottom: 0px;
		}

		.section-header {
			&__title {
				h6 {
					color: #fff;

					&::before {
						background-color: #fff;
					}
				}
			}
		}

		h1 {
			@media (max-width: 767.98px) {
				font-size: 30px;
				// line-height: 27px;
				line-height: 90%;
				letter-spacing: -0.03em;
			}
		}

		p {
			max-width: 330px;
			margin: 16px auto 0px;
		}
	}

	// .rs-slider__btn
	&__btn {
		position: absolute;
		top: calc(100% - 5px);
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 99;
		width: 13.5rem;
		height: 13.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 13px;
		// line-height: 19px;
		line-height: 150%;
		text-align: center;
		border-radius: 50%;
		border: 1px solid hsla(0, 0%, 100%, 0.2);

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-top: 1px solid #fff;
			border-radius: inherit;
			transition: all 1s ease-in-out;
		}

		& > span {
			position: absolute;
			top: 3.5rem;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			animation: scrollKey 3s ease-in-out infinite;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(1turn);
				}
			}
		}

		@keyframes scrollKey {
			25% {
				opacity: 0;
				-webkit-transform: translate3d(-50%, 150%, 0);
				transform: translate3d(-50%, 150%, 0);
			}
			50% {
				opacity: 0;
				-webkit-transform: translate3d(-50%, -100%, 0);
				transform: translate3d(-50%, -100%, 0);
			}
			75%,
			100% {
				opacity: 1;
				-webkit-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
			}
		}

		svg {
			margin-bottom: 4px;
		}
	}

	// .rs-slider__slider
	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	// .rs-slider__swiper
	&__swiper {
	}

	// .rs-slider__slide
	&__slide {
	}

	// .rs-slider__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/blocks/slider/slider_bg.png");
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;

			@media (max-width: 767.98px) {
				background-image: url("../img/blocks/slider/slider_bg--mob.png");
			}
		}

		img,
		iframe,
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;

			&.rs-slider__bg--desk {
				@media (max-width: 767.98px) {
					display: none;
				}
			}

			&.rs-slider__bg--mob {
				@media (min-width: 767.98px) {
					display: none;
				}
			}
		}
	}
}
