section {
	position: relative;
	margin: 200px 0px;

	@media (max-width: 1559.98px) {
		margin: 176px 0px;
	}

	@media (max-width: 1439.98px) {
		margin: 152px 0px;
	}

	@media (max-width: 1169.98px) {
		margin: 128px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 104px 0px;
	}

	@media (max-width: 767.98px) {
		margin: 80px 0px;
	}
}

// Text ========================================================================================================================================================
[class*="anc-"] {
	font-family: "Avenir Next Cyr", sans-serif;
}

[class*="-demi"] {
	font-weight: bold;
}

[class*="-medium"] {
	font-weight: 500;
}

[class*="-regular"] {
	font-weight: 400;
}

[class*="-light"] {
	font-weight: 300;
}

[class*="-thin"] {
	font-weight: 100;
}

[class*="-70-"] {
	font-size: 70px;
	// line-height: 70px;
	line-height: 100%;
	letter-spacing: -0.03em;

	@media (max-width: 1559.98px) {
		font-size: 49px;
	}

	@media (max-width: 1439.98px) {
		font-size: 43px;
	}

	@media (max-width: 1169.98px) {
		font-size: 37px;
	}

	@media (max-width: 991.98px) {
		font-size: 31px;
	}

	@media (max-width: 767.98px) {
		font-size: 25px;
		// line-height: 25px;
		line-height: 100%;
		letter-spacing: -0.03em;
	}
}

[class*="-55-"] {
	font-size: 55px;
	// line-height: 61px;
	line-height: 110%;
	letter-spacing: -0.03em;

	@media (max-width: 1559.98px) {
		font-size: 49px;
	}

	@media (max-width: 1439.98px) {
		font-size: 43px;
	}

	@media (max-width: 1169.98px) {
		font-size: 37px;
	}

	@media (max-width: 991.98px) {
		font-size: 31px;
	}

	@media (max-width: 767.98px) {
		font-size: 25px;
		// line-height: 25px;
		line-height: 100%;
		letter-spacing: -0.03em;
	}
}

[class*="-40-"] {
	font-size: 40px;
	// line-height: 44px;
	line-height: 110%;
	letter-spacing: -0.03em;

	@media (max-width: 1559.98px) {
		font-size: 37px;
	}

	@media (max-width: 1439.98px) {
		font-size: 34px;
	}

	@media (max-width: 1169.98px) {
		font-size: 31px;
	}

	@media (max-width: 991.98px) {
		font-size: 28px;
	}

	@media (max-width: 767.98px) {
		font-size: 25px;
		// line-height: 25px;
		line-height: 100%;
		letter-spacing: -0.03em;
	}
}

[class*="-30-"] {
	font-size: 30px;
	letter-spacing: -0.03em;

	@media (max-width: 1559.98px) {
		font-size: 26px;
	}

	@media (max-width: 1439.98px) {
		font-size: 22px;
	}

	@media (max-width: 991.98px) {
		font-size: 19px;
	}
}

[class*="-24-"] {
	font-size: 24px;

	@media (max-width: 1559.98px) {
		font-size: 20px;
	}

	@media (max-width: 1439.98px) {
		font-size: 18px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}

[class*="-19-"] {
	font-size: 19px;
	// line-height: 30px;
	line-height: 160%;

	@media (max-width: 1559.98px) {
		font-size: 16px;
	}

	@media (max-width: 1439.98px) {
		font-size: 14px;
	}

	@media (max-width: 991.98px) {
		font-size: 13px;
		line-height: 140%;
	}
}

[class*="-16-"] {
	font-size: 16px;
	// line-height: 26px;
	line-height: 160%;

	@media (max-width: 1559.98px) {
		font-size: 14px;
	}

	@media (max-width: 767.98px) {
		font-size: 13px;
	}
}

[class*="-15-"] {
	font-size: 15px;
	// line-height: 22px;
	line-height: 150%;
	text-transform: uppercase;

	@media (max-width: 1559.98px) {
		font-size: 14px;
	}

	@media (max-width: 767.98px) {
		font-size: 13px;
	}
}

[class*="-14-"] {
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;

	@media (max-width: 1559.98px) {
		font-size: 13px;
	}

	@media (max-width: 767.98px) {
		font-size: 12px;
	}
}

[class*="-12-"] {
	font-size: 12px;
	// line-height: 14px;
	line-height: 120%;

	@media (max-width: 991.98px) {
		font-size: 10px;
	}
}

// Button ========================================================================================================================================================
.rs-btn {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	z-index: 10;
	font-family: "Avenir Next Cyr", sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 13.5px 24.5px;

	&._btn-primary {
		color: var(--font-color, #fff);
		background-color: var(--primary-color, #7f5b47);

		@media (any-hover: hover) {
			&:hover {
				color: var(--primary-color, #7f5b47);
				background-color: var(--font-color, #fff);
			}
		}
	}
}

.form {
	// .form__wrapper
	&__wrapper {
	}

	// .form__block
	&__block {
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;
		margin-bottom: 16px;

		&._form-error {
		}

		&._form-right {
		}

		&._form-valid {
		}

		&._form-focus {
		}
	}

	&__error {
		color: #eb1320;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.39px;
		margin-top: 5px;
		margin-left: 20px;

		@media (max-width: 1439.98px) {
			font-size: 14px;
		}

		@media (max-width: 991.98px) {
			font-size: 12px;
		}
	}

	&__footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 16px;

		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	&__agreement {
		font-weight: 400;
		font-size: 12px;
		// line-height: 14px;
		line-height: 120%;
		max-width: 393px;

		@media (max-width: 991.98px) {
			max-width: 100%;
			margin-bottom: 8px;
		}
	}

	&__upload {
		.filepond--root {
			margin: 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border: 2px dashed #7f5b47;
				border-radius: 15px;
				z-index: 10;
				pointer-events: none;
			}
		}

		.filepond--root .filepond--drop-label {
			min-height: 128px;
			background-color: #000;
			padding: 20px 15px;

			@media (max-width: 991.98px) {
				min-height: 121px;
			}
		}

		.filepond--credits {
			display: none;
		}

		.filepond--drop-label.filepond--drop-label label {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: #fff;

			span {
				display: block;

				&.upload-icon {
					margin-bottom: 5px;
					min-width: 43px;
					min-height: 43px;
					max-width: 43px;
					max-height: 43px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: rgba($color: #626262, $alpha: 0.4);
					border-radius: 50%;
				}
			}
		}

		.filepond--root *:not(text) {
			[class*="-16-"] {
				font-size: 16px;
				// line-height: 26px;
				line-height: 160%;

				@media (max-width: 1559.98px) {
					font-size: 14px;
				}

				@media (max-width: 767.98px) {
					font-size: 13px;
				}
			}

			[class*="-12-"] {
				font-size: 12px;
				// line-height: 14px;
				line-height: 120%;

				@media (max-width: 991.98px) {
					font-size: 10px;
				}
			}
		}

		.filepond--panel {
			border-radius: 15px;
		}

		.filepond--panel-root {
			background-color: #000 !important;
			border-radius: 15px;
		}
	}

	// .form__button
	&__button {
		@media (max-width: 991.98px) {
			width: 100%;
		}
		.rs-btn {
			@media (max-width: 991.98px) {
				width: 100%;
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	border-radius: 50px;
	padding: 19px 20px;
	background: rgba(255, 255, 255, 0.08);
	font-weight: 500;
	font-size: 16px;
	// line-height: 26px;
	line-height: 160%;
	color: #fff;

	@media (max-width: 991.98px) {
		padding: 21.5px 24px;
		font-weight: 500;
		font-size: 13px;
		// line-height: 21px;
		line-height: 160%;
	}

	&::placeholder {
		color: #fff;
	}

	&._form-focus {
	}

	&._form-error {
		border-color: #eb1320;
	}

	// &._form-right {
	// 	border-color: #d2e3f0;
	// 	background-color: #e6fcf5;
	// }
}

textarea.rs-input {
	resize: vertical;
	min-height: 122px;
	border-radius: 15px;
}

// Block  ========================================================================================================================================================
.section-header {
	margin-bottom: 50px;

	@media (max-width: 1439.98px) {
		margin-bottom: 40px;
	}

	@media (max-width: 991.98px) {
		margin-bottom: 32px;
	}

	// .section-header__title
	&__title {
		h6 {
			margin-bottom: 15px;
			color: var(--primary-color, #7f5b47);
			display: inline-flex;
			align-items: center;

			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}

			&::before {
				content: "";
				width: 11px;
				height: 11px;
				background-color: var(--primary-color, #7f5b47);
				margin-right: 10px;
				border-radius: 50%;

				@media (max-width: 991.98px) {
					width: 7px;
					height: 7px;
					margin-right: 5px;
				}
			}
		}
	}
}

.preloader {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	background: #000;
	z-index: 10000;
	transition: all 0.3s ease 0s;

	&._done {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		max-width: 362px;
		width: 100%;
		padding: 0px 16px;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__letter {
		transform: translateY(100px);
		$i: 1;
		@while $i < 7 {
			&:nth-child(#{$i}) {
				animation-delay: $i / 10 + s;
			}
			$i: $i + 1;
		}
		animation: letterPreload 3s cubic-bezier(0.6, 0, 0.2, 1) 0s infinite;
	}

	@keyframes letterPreload {
		0% {
			transform: translateY(100px);
		}

		30% {
			transform: translateY(0px);
		}

		70% {
			transform: translateY(0px);
		}

		100% {
			transform: translateY(-100px);
		}
	}
}
