.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-slide {
	flex-shrink: 0;
	// transition-property: transform;
}

.swiper-initialized {
	overflow: hidden;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock,
.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}

//========================================================================================================================================================
// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	width: 79px;
	height: 79px;
	margin-top: 0px;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid var(--primary-color, #7f5b47);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--primary-color, #7f5b47);
		}
	}

	@media (max-width: 1439.98px) {
		width: 68px;
		height: 68px;
	}

	@media (max-width: 1169.98px) {
		width: 58px;
		height: 58px;
	}

	@media (max-width: 991.98px) {
		width: 48px;
		height: 48px;
	}

	svg {
		width: 21px;
		height: 16px;

		@media (max-width: 1439.98px) {
			width: 18px;
			height: 13px;
		}

		@media (max-width: 1169.98px) {
			width: 15px;
			height: 11px;
		}

		@media (max-width: 991.98px) {
			width: 12px;
			height: 9px;
		}

		path {
			transition: fill 0.3s ease 0s;
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: auto;
}

// Фракция
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 30px;
	left: auto;
	right: 42px;
	width: auto;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: -0.07em;

	@media (max-width: 1439.98px) {
		font-size: 20px;
		bottom: 20px;
		right: 20px;
	}

	@media (max-width: 991.98px) {
		bottom: auto;
		right: auto;
		font-size: 0px;
	}
}

.swiper-pagination {
	position: absolute;
	text-align: right;
	transform: translate3d(0, 0, 0);
	z-index: 10;

	@media (max-width: 991.98px) {
		position: relative;
		display: flex;
		align-items: center;
	}
}

.swiper-pagination .swiper-pagination-current,
.swiper-pagination .swiper-pagination-total {
	display: inline-block;
}

.swiper-pagination .swiper-pagination-current {
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -0.03em;
	position: relative;
	bottom: 30px;

	@media (max-width: 1439.98px) {
		font-size: 60px;
		bottom: 20px;
	}

	@media (max-width: 991.98px) {
		bottom: 0;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		display: flex;
		align-items: center;

		&::after {
			content: "";
			width: 45px;
			height: 1px;
			display: block;
			background-color: #fff;
			margin: 0px 7px;
		}
	}
}

.swiper-pagination .swiper-pagination-total {
	@media (max-width: 991.98px) {
		bottom: 0;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
	}
}

.swiper-action {
	display: flex;
	align-items: center;

	.swiper-pagination {
		margin-right: 7.5px;
	}
}

.swiper-navigation {
	display: flex;
	align-items: center;

	.swiper-button-prev,
	.swiper-button-next {
		&:not(:last-child) {
			margin-right: 12px;

			@media (max-width: 991.98px) {
				margin-right: 7.5px;
			}
		}
	}
}

//========================================================================================================================================================
// // pag (hor, bul)
// .swiper-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-bullets.swiper-pagination-horizontal,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
// 	bottom: 10px;
// 	left: 0;
// 	width: 100%;
// }

// .swiper-pagination {
// 	position: absolute;
// 	text-align: center;
// 	transition: 0.3s opacity;
// 	transform: translate3d(0, 0, 0);
// 	z-index: 10;
// }

// // pag-item
// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
// .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
// 	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
// }

// .swiper-pagination-bullet {
// 	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
// 	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
// 	display: inline-block;
// 	border-radius: 50%;
// 	background: var(--swiper-pagination-bullet-inactive-color, #000);
// 	opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
// }

// .swiper-pagination-bullet-active {
// 	opacity: var(--swiper-pagination-bullet-opacity, 1);
// 	background: var(--swiper-pagination-color, var(--swiper-theme-color));
// }

// // nav
// .swiper-button-next,
// .swiper-button-prev {
// 	position: absolute;
// 	top: 50%;
// 	width: calc(var(--swiper-navigation-size) / 44 * 27);
// 	height: var(--swiper-navigation-size);
// 	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
// 	z-index: 10;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	color: var(--swiper-navigation-color, var(--swiper-theme-color));
// }

// .swiper-button-prev,
// .swiper-rtl .swiper-button-next {
// 	left: 10px;
// 	right: auto;
// }

// .swiper-button-next,
// .swiper-rtl .swiper-button-prev {
// 	right: 10px;
// 	left: auto;
// }
